.homepage-container {
  /* Ensures the container takes full width */
  width: 100%;
}

/* Homepage.css */

/* For the dropdown */
.custom-dropdown {
  font-size: 2rem !important;
  padding: 1rem 2.5rem !important;
  color: white;
  border-radius: 0.25rem;
}

/* For the button */
.sell-button {
  font-size: 2rem !important;
  padding: 2rem 3rem !important;
  color: white;
  border-radius: 0.25rem;
  margin-left: auto;
}

.header h1 {
  font-family: "Grape Nuts", cursive;
  color: #9a28fd !important;
  font-size: 6rem !important;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
