.Item {
    display: flex;
    border: 4px solid #ddd;
    border-radius: 8px;
    margin: 16px;
    width: 600px; 
}

.Image {
    width: 40%; 
    height: auto;
    border-right: 1px solid #ddd; 
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    flex-grow: 1;
}










