/* Login.css */
.login-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    margin: auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  
  .login-container h2 {
    color: #4b0082;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-info {
    margin-bottom: 20px;
  }
  
  .thriftnu-info {
    font-style: italic;
    color: #333;
  }
  
  .login-button {
    background-color: #4b0082;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #2c005a;
  }
  .thriftnu-info {
    font-style: italic;
    color: #333;
    margin-top: 10px;
    font-size: 14px;
  }
  